<launch>
    <node pkg="ncs_pr2_navigation" type="pr2_controller" name="spawn_pr2_controller" output="screen">
      <remap from="cmd_vel" to="base_controller/command" />

      <!--<param name="walk_vel" value="0.5" />
      <param name="run_vel" value="1.0" />
      <param name="yaw_rate" value="1.0" />
      <param name="yaw_run_rate" value="1.5" />-->
    </node>
</launch>
